 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2334px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 2168px;
  margin: 14px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }
}