 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 981px;
}

.u-section-1 .u-group-1 {
  min-height: 921px;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 45px 0 30px;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  margin: 28px 45px 0 30px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 1013px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 145px;
  width: 145px;
  background-image: url("images/beiji.jpeg");
  background-position: 50% 25.53%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 145px;
  width: 145px;
  background-image: url("images/peter.jpeg");
  background-position: 50% 0%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 145px;
  width: 145px;
  background-image: url("images/yinxi.jpeg");
  background-position: 50% 0%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 145px;
  width: 145px;
  background-image: url("images/blake.jpeg");
  background-position: 50% 16.51%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 145px;
  width: 145px;
  background-image: url("images/maria.jpeg");
  background-position: 50% 40.53%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 145px;
  width: 145px;
  background-image: url("images/caio.jpeg");
  background-position: 50% 20.57%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-18 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 145px;
  width: 145px;
  background-image: url("images/caio.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 145px;
  width: 145px;
  background-image: url("images/jackson.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-24 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-25 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-26 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 145px;
  width: 145px;
  background-image: url("images/jackson.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-27 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-28 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-29 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 834px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1500px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 56px;
    margin-bottom: 0;
    min-height: 1500px;
    width: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 1189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 1491px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 20px 30px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2157px;
  }

  .u-section-1 .u-image-1 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-2 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-3 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-4 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-5 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-6 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-7 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-8 {
    height: 80px;
    width: 80px;
  }

  .u-section-1 .u-image-9 {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3924px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 50px;
    margin-bottom: 60px;
    min-height: 1793px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 98px;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: -123px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-1 .u-list-item-9,
.u-section-1 .u-list-item-9:before,
.u-section-1 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-9:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-9 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-9 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-1:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-2:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-3:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-4:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-5:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-6:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-7,
.u-section-1 .u-list-item-7:before,
.u-section-1 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-7:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-7 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-7 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-8,
.u-section-1 .u-list-item-8:before,
.u-section-1 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-list-item-8:before {
  background-color: #4c7397 !important;
}

.u-section-1 .u-list-item-8 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-8 {
  border-color: transparent !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 968px;
}

.u-section-2 .u-group-1 {
  min-height: 921px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 45px 0 30px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  margin: 28px 45px 0 30px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 672px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 145px;
  width: 145px;
  background-image: url("images/elias.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 145px;
  width: 145px;
  background-image: url("images/Morgan.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 145px;
  width: 145px;
  background-image: url("images/Chandra.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 145px;
  width: 145px;
  background-image: url("images/Rafael.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 145px;
  width: 145px;
  background-image: url("images/Marianna.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 145px;
  width: 145px;
  background-image: url("images/Shaun.jpeg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 59px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 553px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 56px;
    min-height: 1557px;
    width: 100%;
  }

  .u-section-2 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 770px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 1645px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 964px;
  }

  .u-section-2 .u-image-1 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-image-2 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-image-3 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-image-4 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-image-5 {
    height: 80px;
    width: 80px;
  }

  .u-section-2 .u-image-6 {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2064px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 50px;
    margin-bottom: -1860px;
    min-height: 1864px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 98px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -123px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-1:before {
  background-color: #4c7397 !important;
}

.u-section-2 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-2:before {
  background-color: #4c7397 !important;
}

.u-section-2 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-3:before {
  background-color: #4c7397 !important;
}

.u-section-2 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-4:before {
  background-color: #4c7397 !important;
}

.u-section-2 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-5:before {
  background-color: #4c7397 !important;
}

.u-section-2 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-6:before {
  background-color: #4c7397 !important;
}

.u-section-2 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-2 .u-list-item-6 {
  border-color: transparent !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 200px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 60px auto;
  padding: 16px 46px 17px;
}